body{
    background-color: gray;
    color: gray;
}
.pg{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: flex-start;
   
}
.tblBtn{
    
}

